# Add any directories, files, or patterns you don't want to be tracked by version control
# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile

# Unignore all dirs
!*/

# Emacs
*~

# Python object file
*.pyc

# Output file
*.out
*.exe
*.dat
*.png

# Compressed file
*.tar.gz

# Object file
*.o
